@model IEnumerable<SalesWebMVC.SalesWebMVC.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <!--Display name reflection for name-->
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <!--Display for reflection for Value-->
                @Html.DisplayFor(identificador => item.Id) // 
            </td>
            <td>
                @Html.DisplayFor(nome => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }); |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
